<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SpeedLabApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="E2B SpeedLab"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-native-library
            android:name="libvndksupport.so"
            android:required="false" />
        <uses-native-library
            android:name="libOpenCL.so"
            android:required="false" />

        <service
            android:name=".ExtremeBenchmarkService"
            android:exported="false"
            android:process=":extreme" />

        <service
            android:name=".NativeGpuBenchmarkService"
            android:exported="false"
            android:process=":nativegpu" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PracticalActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
